
Body{
 background: rgb(51,208,15);
 background: linear-gradient(90deg, rgba(51,208,15,0.4290091036414566) 0%, rgba(235,6,49,0.6166841736694677) 35%, rgba(255,184,0,1) 100%);
}

#javaHeader{
color: steelBlue;
border: 12px solid yellow;
}

#javaHeader2{
color: blue;
border: 12px solid yellow;
}

li{
color: purple;
background-color: grey;
}

#funTimes{
color: blue;
font-size: 4em;
}


img{
height: 50%;
width: 50%;
}

a{
font-size: 3em;
color: purple;
}

.latinGibberish{
font-size: 1em;
color:red;
font: Times;
border: 3px dashed green;
margin-left:80%;
}